{% extends "base.html" %}

{% block title %}{{ object.model }} - Detalhes{% endblock %}

{% load static %}

{% block content %}
<style>
    .car-card {
        background-color: #e3e1e1;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        overflow: hidden; /* Alterado de cover para hidden para evitar transbordamento */
        text-align: center;
        transition: all 0.3s ease;
        max-width: 500px;
        margin: 20px auto 0;
        margin-bottom: 20px;
        padding: 5px;
    }

    .car-card:hover {
        cursor: pointer;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
        transform: translateY(-2px);
    }

    .car-card img {
        width: 100%; /* Ajuste de 120% para 100% para evitar transbordamento */
        height: 380px;
        object-fit: cover;
    }
    
    .car-card h2 {
        font-size: 1.5rem;
        margin: 5px;
    }

    .car-card p {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .interest-button-container {
        text-align: center; /* Centraliza o botão horizontalmente */
        margin-top: 20px;
    }

    .btn {
        display: inline-block;
        background-color: #FFA500;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        margin: 0 auto; /* Centraliza o botão dentro do container */
    }

    .btn:hover {
        background-color: #cc8400;
    }

    .btn-danger {
        background-color: #d9534f;
        text-decoration: none !important;
    }

    .btn-danger:hover {
        background-color: #d2221c;
    }
</style>

<div class="car-card">
    <div class="carousel">
        <div class="carousel-images">

            {% if object.photo1 %}
                <a onclick="openModal('{{ object.photo1.url }}'); return false;">
                    <img src="{{ object.photo1.url }}" class="carousel-item active" alt="Car Photo 1">
                </a>
            {% endif %}

            {% if object.photo2 %}
                <a onclick="openModal('{{ object.photo2.url }}'); return false;">
                    <img src="{{ object.photo2.url }}" class="carousel-item" alt="Car Photo 2">
                </a>
            {% endif %}

            {% if object.photo3 %}
                <a onclick="openModal('{{ object.photo3.url }}'); return false;">
                    <img src="{{ object.photo3.url }}" class="carousel-item" alt="Car Photo 3">
                </a>
            {% endif %}

            {% if object.photo4 %}
                <a onclick="openModal('{{ object.photo4.url }}'); return false;">
                    <img src="{{ object.photo4.url }}" class="carousel-item" alt="Car Photo 4">
                </a>
            {% endif %}

            {% if object.photo5 %}
                <a onclick="openModal('{{ object.photo5.url }}'); return false;">
                    <img src="{{ object.photo5.url }}" class="carousel-item" alt="Car Photo 5">
                </a>
            {% endif %}

            {% if object.photo6 %}
                <a onclick="openModal('{{ object.photo6.url }}'); return false;">
                    <img src="{{ object.photo6.url }}" class="carousel-item" alt="Car Photo 6">
                </a>
            {% endif %}

        </div>

        <button class="prev" onclick="prevSlide()">&#10094;</button> 
        <button class="next" onclick="nextSlide()">&#10095;</button>

    </div>
    <h2><strong>{{ object.brand }} {{ object.model }}</strong></h2>
    <p><strong>Ano: </strong> {{ object.factory_year }}/{{ object.model_year }}</p>
    <p><strong>Combustivel:</strong> {{ object.fuel }}</p>
    <p><strong>Câmbio:</strong> {{ object.exchange }}</p>
    <p><strong>KM:</strong> {{ car.km|floatformat:"2g" }}</p>
    <p><strong>Preço:</strong> R$ {{ car.value|floatformat:"2g" }}</p>
    <p><strong>Vendedor:</strong> {{ object.seller }}</p>
    <p><strong>Contato:</strong> {{ object.contact }}</p>
</div>

<!-- Modal para Imagem Grande -->
<div id="imageModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modalImage">
</div>

<!-- Botão centralizado -->
<div class="interest-button-container">
    <a href="{% url 'interest_form' pk=object.pk %}" class="btn btn-primary">Tenho Interesse</a>
</div>

{% if user.is_authenticated %}
  <div class="buttons-container">
   <!-- <a href="{% url 'car_update' pk=object.pk %}" class="btn btn-primary">Editar</a>
    <a href="{% url 'car_delete' pk=object.pk %}" class="btn btn-danger">Deletar</a> 
    <a href="{% url 'interest_form' pk=object.pk %}" class="btn btn-primary">Tenho Interesse</a>
  </div> -->
{% endif %}

<!-- JavaScript Carousel -->    
<script src="{% static 'js/carousel.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>

{% endblock %}
